*
!/.gitignore
!/gulpfile.js
!/package.json
!/package-lock.json
!/.scss-lint.yml
!/.magento
!/.magento/**
!/theme.js
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/composer.json
!/composer.lock
!/dev
!/dev/tools
!/dev/tools/*/
!/dev/tools/gulp/**
!/deploy
!/deploy/**
!/m2-hotfixes
!/m2-hotfixes/**
!/patches/**
!/docker-compose.yml
!/pub
!/pub/holding_page.html
!/pub/cfs.svg
!/pub/.well-known/
!/pub/.well-known/apple-developer-merchantid-domain-association
